Here,We are using mysql connector in order to get views with we have created in Xampp and also we have used flask in order to represent one of the view in web using html code


https://www.quora.com/How-can-I-display-a-table-from-a-database-in-a-web-application-using-Flask

https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972

In [1]:
#Importing my sql connector
import mysql.connector

In [2]:
import pymysql
import os
import pandas as pd

In [3]:
#importing flask which we we will use to represent view in web page
from flask import Flask

In [4]:
from flask import Flask, render_template

In [5]:
#Sucessfully connected to xampp
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd=""
)

print(mydb)

InterfaceError: 2026 (HY000): SSL connection error: Failed to set ciphers to use

In [ ]:
#connecting to my college database
host = os.getenv('HOST')
port = os.getenv('PORT')
user = os.getenv('USER')
password = os.getenv('PASSWORD')
database_OASS= os.getenv('DATABASE')

conn_OASS = pymysql.connect(
    host="localhost",
    port=int(3306),
    user="root",
    password="",
    db="college"
                )

In [ ]:
#storing view in OASS_1 Varibale
OASS_1 = pd.read_sql_query("select * from mark_obtain_on_each_term ",
    conn_OASS)

In [ ]:
#printing the data
OASS_1

In [ ]:
#For ploting the students ranks
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pandas as pd

In [ ]:
Points=pd.DataFrame(OASS_1['Name'].value_counts(ascending=False).reset_index())
Points.columns=['Name','Total Points']

In [ ]:
fig=plt.figure(figsize=(50,20))
sns.barplot(x=Points['Name'],y=Points['Total Points'],data=Points)
plt.xticks(rotation=90,fontsize=20)
plt.savefig('Points1.png', dpi=300);

In [ ]:
OASS_2 = pd.read_sql_query("select * from coursemarkwithpoint ",
    conn_OASS)

In [ ]:
OASS_2

In [ ]:
OASS_3=pd.read_sql_query("select * from coursetakenbystudents ",
    conn_OASS)

In [ ]:
OASS_3

In [ ]:
Courses=pd.DataFrame(OASS_3['Name'].value_counts(ascending=False).reset_index())
Courses.columns=['Name','Num_of_courses']

In [ ]:
fig=plt.figure(figsize=(20,10))
sns.barplot(x=Courses['Name'],y=Courses['Num_of_courses'],data=Courses)
plt.xticks(rotation=90)
plt.savefig('Courses.png', dpi=300);

In [ ]:
OASS = Flask(__name__)

In [ ]:
@OASS.route("/")
def COLLEGE():
    cursor = conn_OASS.cursor() 
    cursor.execute('SELECT * FROM MARK_OBTAIN_ON_EACH_TERM')
    data_students = cursor.fetchall()
    conn_OASS.close()
    return render_template('college.html',output_data = data_students)

In [ ]:
if __name__ == "__main__":
    OASS.run()